<img class="cover-img" src="assets/img/cover.jpg" alt="">
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-xl-6">
            <img class="logo" src="assets/img/logo-big.jpg" alt="">
        </div>
        <div class="col-sm-12 col-xl-6">
            <p>We are a Company which has be involved in the area of import, export and international logistic from more than 3 years in India. we work directly and tie ups with manufacturer and wholesaler companies which are located across India.We guarantee that all companies that work with us meet high standards of quality and good working environment.</p>
        </div>
    </div>
</div>