<div class="container holder">
    <div class="row">
        <div class="col formDiv">
            <h1 class="title">Need more info?</h1>
            <h4>Contact US!</h4>
            <div class="container" style="margin: 0;">
                <app-contact-form></app-contact-form>
            </div>
        </div>
        <div class="col">
            <img class="logoC" src="assets/img/logo-big.jpg" alt="">
            <h3 class="logoText">Export At Ease</h3>
            <h3 class="logoText">GSTIN - 06AYMPA6388F1Z9</h3>
            <div class="row info align-items-center">
                <h4><span class="blueIcon material-icons">mail</span>{{email}}</h4>
            </div>
            <div class="row info align-items-center">
                <h4><span class="blueIcon material-icons">phone</span>{{phone}}</h4>
            </div>
            <div class="row info align-items-center justfy-content-">
                <div style="display: table">
                    <h4 style="display: table-cell;
                    vertical-align: top;"><span class="blueIcon material-icons">location_on</span></h4>
                    <h4 style="display: table-cell;
                    vertical-align: top;">{{addres}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>